QPushButton {
    border: 2px solid #FF00FF;
    border-radius: 6px;
    background-color: #FFFF00;
    min-width: 80px;
}

QPushButton:pressed {
    background-color: rgb(224, 0, 0);
}

QPushButton:flat {
    border: none; /* no border for a flat push button */
}
QPushButton:hover:!pressed
{
  background-color: pink;;
}

QPushButton:checked{
background-color: green; }
QPushButton:default {
    border-color: navy; /* make the default button prominent */
}
QPushButton:disabled {
    border: 2px solid #0099cc;
   background-color: #cccccc;
}
